.about-us-location-section {
  margin-top: 150px;
  margin-left: 165px;
  margin-right: 165px;


  @media (max-width: 699px) {
    margin-top: 120px;
    margin-left: 0px;
    margin-right: 0px;
  }

  @media (min-width: 700px) and (max-width: 849px) {
    margin-left: 39px;
    margin-right: 39px;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    margin-left: 39px;
    margin-right: 39px;
  }
}

.about-us-location-content-container::after {
  content: ""; 
  display: block;
  background: url(/assets/shared/desktop/bg-pattern-leaf.svg)  no-repeat;
  background-position: -250px -250px;
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -99;
  transform: rotate(180deg);
}

.about-us-location-content-container::after {

  @media (max-width: 699px) {
    display: none;
  }

  @media (min-width: 700px) and (max-width: 849px) {
    display: none;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    display: none;
  }
}

.about-us-location-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 699px) {
     grid-template-columns: repeat(1, 1fr);
     place-content: center;
     gap: 32px;
  }

  @media (min-width: 700px) and (max-width: 849px) {
     grid-template-columns: repeat(1, 1fr);
     place-content: center;
     gap: 32px;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
     grid-template-columns: repeat(1, 1fr);
     place-content: center;
     gap: 32px;
  }
}


.about-us-location-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.about-us-location-content h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 26px;
}

.about-us-location-content a {
  background-color: var(--primary-peach);
  text-transform: uppercase;
  padding: 13px;
  border-radius: 8px;
  color: var(--primary-white);
  transition: background-color 0.3s ease;
  font-size: var(--fs-15);
  font-weight: 400;
  letter-spacing: 1px;
}

.about-us-location-content a:hover {
  background-color: var(--light-peach);
}

.about-us-location-content img {
  background: url(/assets/shared/desktop/bg-pattern-small-circle.svg)  no-repeat;
  z-index: -999;
}