.about-us-section {
  margin-top: 150px;
  display: flex;
  text-align: center;
  padding-left: 165px;
  padding-right: 165px;
  gap: 30px;
  position: relative;

  @media (max-width: 699px) {
    flex-direction: column;
    margin-top: 120px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 700px) and (max-width: 849px) {
    padding-left: 39px;
    padding-right: 39px;
    display: block;
    text-align: left;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    padding-left: 29px;
    padding-right: 29px;
    display: block;
    text-align: left;
  }

  .passionate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media (min-width: 700px) and (max-width: 849px) {
      flex-direction: row;
    }

    @media (min-width: 850px) and (max-width: 1099px) {
      flex-direction: row;
    }
  }
}

.passionate img {
  background: url(/assets/shared/desktop/bg-pattern-small-circle.svg)  no-repeat;
  z-index: -999;
}

.about-us-section::after{
  content: ""; 
  display: block;
  background: url(/assets/shared/desktop/bg-pattern-leaf.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 200%;
  top: -60px;
  transform: rotate(180deg);
  z-index: -99;
} 

@media (max-width: 699px) {
  .about-us-section::after{
    display: none;
}
}

@media (min-width: 700px) and (max-width: 849px) {
  .about-us-section::after{
    display: none;
  }
}

@media (min-width: 850px) and (max-width: 1099px) {
  .about-us-section::after{
    display: none;
}
}


.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;


  @media (min-width: 700px) and (max-width: 849px) {
    align-items: start;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    align-items: start;
  }

}