.graphic-design-projects-section {
  margin-top: 160px;
  padding-left: 165px;
  padding-right: 165px;

  @media (max-width: 699px) {
    margin-top: 120px;
    padding-left: 24px;
    padding-right: 20px;
  }

  @media (min-width: 700px) and (max-width: 849px) {
    padding-left: 39px;
    padding-right: 39px;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    padding-left: 29px;
    padding-right: 29px;
  }
}

.graphic-design-projects-section::after {
  content: '';
  display: block;
  background: url(/assets/shared/desktop/bg-pattern-leaf.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0px;
  top: 250px;
  z-index: -99;
}

@media (max-width: 699px) {
  .graphic-design-projects-section::after{
    display: none;
}
}

@media (min-width: 700px) and (max-width: 849px) {
  .graphic-design-projects-section::after{
    display: none;
  }
}

@media (min-width: 850px) and (max-width: 1099px) {
  .graphic-design-projects-section::after{
    display: none;
}
}

.graphic-design-projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 699px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 700px) and (max-width: 849px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    display: flex;
    flex-direction: column;
  }
}