.web-design-projects-section {
  margin-top: 160px;
  padding-left: 165px;
  padding-right: 165px;

  @media (max-width: 699px) {
    margin-top: 120px;
    padding-left: 24px;
    padding-right: 20px;
  }

  @media (min-width: 700px) and (max-width: 849px) {
    padding-left: 39px;
    padding-right: 39px;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    padding-left: 29px;
    padding-right: 29px;
  }
}

.web-design-projects-section::after {
  content: '';
  display: block;
  background: url(/assets/shared/desktop/bg-pattern-leaf.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0px;
  top: 250px;
  z-index: -99;
}

@media (max-width: 699px) {
  .web-design-projects-section::after{
    display: none;
}
}

@media (min-width: 700px) and (max-width: 849px) {
  .web-design-projects-section::after{
    display: none;
  }
}

@media (min-width: 850px) and (max-width: 1099px) {
  .web-design-projects-section::after{
    display: none;
}
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 699px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 700px) and (max-width: 849px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    display: flex;
    flex-direction: column;
  }
}

.project-express {
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) and (max-width: 849px) {
    flex-direction: row;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    flex-direction: row;
  }
}


.project-express img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  @media (max-width: 699px) {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  @media (min-width: 700px) and (max-width: 849px) {
    width: 100%;
    max-height: 310px;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    width: 100%;
    max-height: 610px;
  }
}

.project-express-content {
  background-color: var(--light-peach);
  padding: 32px 32px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: background-color 0.3s ease;

  @media (min-width: 700px) and (max-width: 849px) {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }

  @media (min-width: 850px) and (max-width: 1099px) {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  
}

.project-express-content:hover {
  background-color: var(--primary-peach);
  cursor: pointer;
}

.project-express-content h3 {
  color: var(--primary-white);
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 5px;
}

.project-express-content p {
  text-align: center;
  color: var(--primary-white);
  font-weight: normal;
  line-height: 26px;
}