@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@layer colors {
  :root {
    /* Primary Colors */
    --primary-peach:hsl(11, 73%, 66%);
    --primary-black: hsl(270, 3%, 11%);
    --primary-white: hsl(0, 0%, 100%);

    /* Secondary Colors  */
    --light-peach: hsl(11, 100%, 80%);
    --dark-gray:  hsl(264, 5%, 20%);
    --light-gray:  hsl(210, 17%, 95%);
  }
}

@layer typography {
  :root {
    --fs-h1: 48px;
    --fs-h2: 40px;
    --fs-h3: 20px;
    --fs-body: 16px;
    --fs-32: 32px;
    --fs-28: 28px;
    --fs-24: 24px;
    --fs-15: 15px;
    --fs-14: 14px;
  }

  h1 {
    font-size: var(--fs-h1);
    font-weight: 500;
    line-height: 48px;

  }
  h2 {
    font-size: var(--fs-h2);
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
  }
  h3 {
    font-size: var(--fs-h3);
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
  }

  @media (max-width: 699px) {
    h1 {
      font-size: var(--fs-32);
    }

    h2 {
      font-size: var(--fs-28);
    }
  }
}


@layer global {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }


  html,
  body 
  :root{
    overflow-x: hidden;
  }


  body {
    font-family: 'Jost', sans-serif;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }


.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.children-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
}


@layer responsiveQueries {
  /* Mobile */
  @media (max-width: 699px) {}

  /* Small Tablet */
  @media (min-width: 700px) and (max-width: 849px) {}

  /* Tablet */
  @media (min-width: 850px) and (max-width: 1099px) {}

  /* Desktop */
  @media (min-width: 1100px) {}
}